// bower:scss
// endbower

////////////////////////////////
// SASS variables, mostly for colors and sizing
////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$font-stack: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size-base: 80%;
$font-weight-base: 300;

$text-dark: #333333;

$light-background: white;

$artpiece-underline: #e8e8e8;
$artpiece-gradientstart: #f4f4f4;

  
