.star.jeffers {
    fill: white;
    stroke: #666666;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.selector {
    cursor: pointer;
    padding-right: 40px;
}

.selector.selected {
    font-weight: 400;
}

 a {
		text-decoration: none;
		color: inherit;
		border-bottom: dotted 1px rgba(128,128,128,0.5);
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		outline: 0;
		margin-right: 40px;
		font-size: 0.8em;
}
    a:hover
		{
			color: #E27689;
			border-bottom-color: rgba(255,255,255,0);
		}
